# https://jamesmontemagno.github.io/ohmyposh-configurator/
$schema: https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json
version: 4
final_space: false
console_title_template: "{{ .UserName }}@{{ .HostName }}"
terminal_background: p:background
async: true
blocks:
  - alignment: left
    newline: true
    segments:
      - type: text
        style: plain
        template: ╭
        foreground: "#ffffff"
      - foreground: p:blue
        style: plain
        options:
          style: full
        template: " {{ .Path }} "
        type: path
      - options:
          branch_icon: ""
          fetch_status: true
        style: plain
        template: >-
          <p:yellow> </>({{ if or (.Working.Changed) (.Staging.Changed) (gt .StashCount 0) }}<p:magenta>{{ .HEAD
          }}</>{{ else }}<p:green>{{ .HEAD }}</>{{ end }}{{ if (gt .Ahead 0)}}<p:cyan>{{ .BranchStatus }}</>{{ end }}{{
          if (gt .Behind 0)}}<p:cyan>{{ .BranchStatus }}</>{{ end }}{{ if .Staging.Changed }} <p:green>{{
          .Staging.String }}</>{{ end }}{{ if .Working.Changed }} <p:red>{{ .Working.String }}</>{{ end }})
        type: git
    type: prompt
  - alignment: right
    newline: false
    segments:
      - foreground: p:foreground
        options:
          always_enabled: true
        style: plain
        template: "{{ if gt .Code 0 }}<p:red>({{ .Code }}) </>{{ else }}<p:green>({{ .Code }}) </>{{ end }} "
        type: status
      - type: executiontime
        style: plain
        template: "  {{ .FormattedMs }} "
        foreground: p:foreground
      - type: kubectl
        style: plain
        template: " ⎈ {{ .Context }}{{ if .Namespace }} :: {{ .Namespace }}{{ end }} "
        cache:
          duration: 1m
          strategy: session
        foreground: p:foreground
      - type: time
        style: plain
        template: "  {{ .CurrentDate | date .Format }} "
        foreground: p:foreground
    type: rprompt
    force: false
  - type: prompt
    alignment: left
    segments:
      - type: text
        style: plain
        template: "╰> "
        foreground: "#ffffff"
    newline: true
palette:
  black: "#282c34"
  red: "#e06c75"
  green: "#98c379"
  yellow: "#e5c07b"
  blue: "#61afef"
  magenta: "#c678dd"
  cyan: "#56b6c2"
  white: "#dcdfe4"
  foreground: "#dcdfe4"
  background: "#282c34"
