$schema: https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json
version: 4
final_space: true
console_title_template: "{{ .UserName }}@{{ .HostName }}"
terminal_background: p:background
# async: true
streaming: 100
blocks:
  - type: prompt
    alignment: left
    newline: true
    segments:
      - type: text
        style: plain
        foreground: p:foreground
        template: ╭─
      - type: path
        style: plain
        foreground: p:cyan
        template: " {{ .Path }} "
        options:
          style: powerlevel
          max_width: 30
      - type: git
        style: plain
        foreground: p:foreground
        template: "<p:cyan>(</><p:green>{{ .HEAD }}{{if .BranchStatus }} {{ .BranchStatus }}{{ end }}</>{{ if .Working.Changed }}<p:yellow> {{ .Working.String }}</>{{ end }}{{ if and (.Working.Changed) (.Staging.Changed) }}<p:cyan>|</>{{ end }}{{ if .Staging.Changed }}<p:magenta> {{ .Staging.String }}</>{{ end }}{{ if gt .StashCount 0 }}<p:yellow> {{ .StashCount }}</>{{ end }}<p:cyan>)</> "
        options:
          fetch_status: true
          branch_icon: " "
  - type: prompt
    alignment: right
    newline: false
    overflow: hide
    filler: "{{ if .Overflow }} {{ else }}<p:black>·</>{{ end }}"
    force: false
    segments:
      - type: status
        style: plain
        foreground: p:foreground
        template: "{{ if gt .Code 0 }}<p:red>✘({{ .Code }}) </>{{ else }}<p:green>✔({{ .Code }}) </>{{ end }} "
        options:
          always_enabled: false
      - type: executiontime
        style: plain
        foreground: p:grey
        template: " {{ .FormattedMs }} "
      - type: kubectl
        style: plain
        foreground: p:blue
        foreground_templates:
          - '{{ if contains "prod" .Context }}p:orange{{ end }}'
          - '{{ if contains "prd" .Context }}p:orange{{ end }}'
        template: "⎈ {{ .Context }}{{ if .Namespace }}:{{ .Namespace }}{{ end }} "
        options:
          display_default: false
        cache:
          duration: 1m
          strategy: session
      - type: time
        style: plain
        foreground: p:grey
        template: " {{ .CurrentDate | date .Format }} "
  - type: prompt
    alignment: left
    newline: true
    segments:
      - type: text
        style: plain
        foreground: p:foreground
        template: ╰─
      - type: status
        style: plain
        foreground: p:green
        template: " ❯"
        options:
          always_enabled: true
palette:
  red: "#e06c75"
  green: "#98c379"
  yellow: "#e5c07b"
  blue: "#55aaff"
  magenta: "#c678dd"
  cyan: "#99ddf2"
  white: "#e4e4e4"
  foreground: "#e4e4e4"
  background: "transparent"
  orange: "#cf893a"
  grey: "#808080"
  black: "#303030"
