$schema: https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json
version: 4
final_space: true
console_title_template: "{{ .UserName }}@{{ .HostName }}"
terminal_background: p:background
async: true
# transient_prompt:
#   background: transparent
#   foreground: "p:foreground"
#   template: " "
blocks:
  - type: prompt
    alignment: left
    newline: true
    segments:
      - type: text
        style: plain
        foreground: p:foreground
        template: ╭─
      - type: path
        style: plain
        foreground: p:blue
        template: " {{ .Path }} "
        options:
          style: powerlevel
      - type: git
        style: plain
        foreground: p:foreground
        background_templates:
          - "{{ if or (.Working.Changed) (.Staging.Changed) }}<p:yellow>{{ end }}</>"
          - "{{ if and (gt .Ahead 0) (gt .Behind 0) }}<p:yellow>{{ end }}</>"
          - "{{ if gt .Ahead 0 }}<p:yellow>{{ end }}</>"
          - "{{ if gt .Behind 0 }}<p:yellow>{{ end }}</>"
        template: >-
          <p:yellow></>({{ if or (.Working.Changed) (.Staging.Changed) (gt .StashCount 0) }}<p:yellow>{{ .HEAD }}</>{{
          else }}<p:green>{{ .HEAD }}</>{{ end }}{{ if (gt .Ahead 0)}}<p:cyan>{{ .BranchStatus }}</>{{ end }}{{ if (gt
          .Behind 0)}}<p:cyan>{{ .BranchStatus }}</>{{ end }}{{ if .Staging.Changed }} <p:green>{{ .Staging.String
          }}</>{{ end }}{{ if .Working.Changed }} <p:red>{{ .Working.String }}</>{{ end }})
        options:
          fetch_status: true
          branch_icon: " "
  - type: rprompt
    alignment: right
    newline: false
    force: false
    segments:
      - type: status
        style: plain
        foreground: p:foreground
        template: "{{ if gt .Code 0 }}<p:red>({{ .Code }}) </>{{ else }}<p:green>({{ .Code }}) </>{{ end }} "
        options:
          always_enabled: true
      - type: executiontime
        style: plain
        foreground: p:foreground
        template: "  {{ .FormattedMs }} "
      - type: kubectl
        style: plain
        foreground: p:blue
        foreground_templates:
          - '{{ if contains "prod" .Context }}p:orange{{ end }}'
        template: " ⎈ {{ .Context }}{{ if .Namespace }} :: {{ .Namespace }}{{ end }} "
        options:
          display_default: false
        cache:
          duration: 1m
          strategy: session
      - type: time
        style: plain
        foreground: p:grey
        template: "  {{ .CurrentDate | date .Format }} "
  - type: prompt
    alignment: left
    newline: true
    segments:
      - type: text
        style: plain
        foreground: p:foreground
        template: ╰─
      - type: status
        style: plain
        foreground: p:green
        template: " ❯ "
        options:
          always_enabled: true
palette:
  red: "#e06c75"
  green: "#98c379"
  yellow: "#e5c07b"
  blue: "#61afef"
  magenta: "#c678dd"
  cyan: "#56b6c2"
  white: "#dcdfe4"
  foreground: "#dcdfe4"
  background: "#282c34"
  orange: "#cf893a"
  grey: "#616161"
